<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" /> 
    <title>register</title>
  </head>
  <div class="container"></div>
  <h1>Register !</h1>
  <body>
    <form action="/register" method="POST">
      <input type="email" name="email" placeholder="Type your email" />
      <input type="password" name="password" placeholder="Type your password" />
      <button type="submit">Register</button>
    </form>
  </body>
</html>
